<div class="center">
  <div class="vertical-center">
    <div class="row" style="display: flex; flex-direction: row;">
      <%= render partial: "partials/form_search", locals: { form_size: "lg" } %>
    </div>
  </div>
</div>
